<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to Ionic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Now that your app has been created, you'll want to start building out features and components. Check out some
        of the resources below for next steps.</p>
      <p>Now that your app has been created, you'll want to start building out features and components. Check out some
        of the resources below for next steps.</p>

    </ion-card-content>
  </ion-card>
  <ion-list lines="full">
    <ion-row class="button-init">
      <ion-col size="4">
        <ion-card href="" class="ion-text-center ">
          <ion-icon color="medium" name="book"></ion-icon>
          <p>Teste</p>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="ion-text-center">
          <ion-icon color="medium" name="book"></ion-icon>
          <p>Teste</p>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="ion-text-center">
          <ion-icon color="medium" name="book"></ion-icon>
          <p>Teste</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="button-init">
        <ion-col size="4">
          <ion-card href="" class="ion-text-center">
            <ion-icon color="medium" name="book"></ion-icon>
            <p>Teste</p>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="ion-text-center">
            <ion-icon color="medium" name="book"></ion-icon>
            <p>Teste</p>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="ion-text-center">
            <ion-icon color="medium" name="book"></ion-icon>
            <p>Teste</p>
          </ion-card>
        </ion-col>
      </ion-row>
  </ion-list>
</ion-content>